In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Import data
data = pd.read_csv("./sem-database.csv")

In [3]:
# Select only data that have a conversion.

In [4]:
data.describe()[["Clicks", "Conversions"]]

             Clicks   Conversions
count  8.285423e+06  8.285423e+06
mean   3.385137e+00  4.980832e-02
std    6.373065e+00  6.945033e-01
min    2.000000e+00  0.000000e+00
25%    2.000000e+00  0.000000e+00
50%    2.000000e+00  0.000000e+00
75%    2.000000e+00  0.000000e+00
max    1.827000e+03  1.180000e+03

In [5]:
g_data = data.groupby("Ad_group_ID")

revenues = g_data["Revenue"].sum()
population = g_data["Ad_group_ID"].count()
conversions = g_data["Conversions"].sum()
aggregat = pd.DataFrame(data = { "Revenue": revenues, "Population": population, "Conversions": conversions})

aggregat["Price"] = aggregat["Revenue"] / aggregat["Conversions"]

In [6]:
aggregat.describe()

         Conversions     Population       Revenue          Price
count  269480.000000  269480.000000  2.694800e+05   31010.000000
mean        1.531405      30.745966  5.479273e+03    3681.137085
std        43.845531     112.698846  1.567445e+05    4062.642337
min         0.000000       1.000000  0.000000e+00       0.000000
25%         0.000000       1.000000  0.000000e+00    1419.330000
50%         0.000000       4.000000  0.000000e+00    2689.260000
75%         0.000000      17.000000  0.000000e+00    4621.940373
max     18040.000000    8111.000000  6.261996e+07  142073.785000

In [7]:
aggregat[aggregat.Revenue > 0].describe()

        Conversions    Population       Revenue          Price
count  30637.000000  30637.000000  3.063700e+04   30637.000000
mean      13.433593    162.010543  4.819514e+04    3725.954271
std      129.421563    287.050666  4.626581e+05    4066.819798
min        2.000000      1.000000  1.494000e+01       7.470000
25%        2.000000     22.000000  4.258000e+03    1460.966000
50%        2.000000     69.000000  1.038652e+04    2719.140000
75%        8.000000    184.000000  2.674323e+04    4661.385000
max    18040.000000   8111.000000  6.261996e+07  142073.785000

# Visualisation

In [8]:
example_ad_group_id = aggregat[aggregat.Population == 69].sort_values(["Revenue"], ascending=[False]).index[0]

In [9]:
example_ad_group_id

241795792797

In [ ]:
data["Price"] = data["Revenue"] / data["Clicks"] * data["Conversions"]

In [ ]:
plot_data = data[data.Ad_group_ID == example_ad_group_id][data.Revenue > 0]

In [ ]:
x = range(len(plot_data)) # x = np.linspace(0,10)

y_val = aggregat.loc[example_ad_group_id, "Price"]
y = np.array([y_val for i in xrange(len(x))])

plt.plot(x, y)
plt.scatter(x, plot_data["Price"])

plt.show()

In [ ]:
plot_data[plot_data.Price < 20000].Price.describe()

In [ ]:
aggregat.loc[example_ad_group_id, "Price"]

# Test: weighted mean on pandas dataframe

In [ ]:
foo = pd.DataFrame(data = {"Clicks": [5,2,3], "Conversions": [20, 50, 0]})
(foo["Clicks"] * foo["Conversions"]).sum() / foo["Clicks"].sum()

In [ ]:
data[data.Ad_group_ID == example_ad_group_id][data.Clicks != 2][["Clicks", "Conversions"]]

data[data.Ad_group_ID == example_ad_group_id][data.Clicks != 2][["Clicks", "Conversions"]]

In [ ]:
example_ad_group_id