In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/train.csv")

# 1. Target are per household

In [5]:
target_per_household = df.groupby(['idhogar'])['Target'].nunique()

no_target = len(target_per_household.loc[target_per_household == 0])
unique_target = len(target_per_household.loc[target_per_household == 1])
more_targets = len(target_per_household.loc[target_per_household > 1])
more_targets_perc = more_targets / (no_target + unique_target + more_targets)

print("No per household: {}".format(no_target))
print("1 target per household: {}".format(unique_target))
print("More targets per household: {} or {:.1f}%" .format(more_targets, more_targets_perc * 100))

No per household: 0
1 target per household: 2903
More targets per household: 85 or 2.8%

As in the competition title, "Household Poverty Level Prediction", we will consider the Target per household, and define the other as **outliers** that we will in a first time **delete**.

Kaggle discussion, mention to clean the data using the household value in caseof discrepency: https://www.kaggle.com/c/costa-rican-household-poverty-prediction/discussion/61403

# 2. Categorical features

In [28]:
categorical_features = df.columns.tolist()
for feature in df.describe().columns:
    categorical_features.remove(feature)

# Just for saving them
numerical_features = df.columns.tolist()
for categorical_feature in categorical_features:
    numerical_features.remove(categorical_feature)
    
categorical_features

['Id', 'idhogar', 'dependency', 'edjefe', 'edjefa']

In [12]:
df[categorical_features].head()

             Id    idhogar dependency edjefe edjefa
0  ID_279628684  21eb7fcc1         no     10     no
1  ID_f29eb3ddd  0e5d7a658          8     12     no
2  ID_68de51c94  2c7317ea8          8     no     11
3  ID_d671db89c  2b58d945f        yes     11     no
4  ID_d56d6f5f5  2b58d945f        yes     11     no

Features ID, those will obviously not beeing predictive (or will overfit), so we can ignore:
- Id
- idhogar

Other categorical features:
- **dependency**': Dependency rate. We can use its squraed feature **SQBdependency**.
- **edjefe**, years of education of male head of household. We can use its squared feature **SQBedjefe**
- **edjefa**, years of education of female head of household.

In [14]:
df[['edjefe', 'SQBedjefe']].head()

  edjefe  SQBedjefe
0     10        100
1     12        144
2     no          0
3     11        121
4     11        121

In [16]:
df[['edjefe', 'SQBedjefe']].head()

  edjefe  SQBedjefe
0     10        100
1     12        144
2     no          0
3     11        121
4     11        121

# 3. Empty values in numerical features

In [17]:
print("Number of observations {}".format(len(df)))

Number of observations 9557

In [21]:
features_with_null = df.isna().sum().sort_values(ascending=False)
features_with_null = features_with_null.loc[features_with_null > 0]
feature_names_with_null = features_with_null.index.tolist()

features_with_null

rez_esc      7928
v18q1        7342
v2a1         6860
meaneduc        5
SQBmeaned       5
dtype: int64

* rez_esc      7928 null values for Years behind in school. Too much null values: unusable
* v2a1         6860 null values for Monthly rent payment. Unusable.

* v18q1        7342 null values for number of tablets household owns. Unusable but summing **v18q** by household may help.

* meaneduc        5 null values for average years of education for adults. We may fullfill those values.
* SQBmeaned       5 null values for square of the mean years of education of adults. We may fullfill those values.

# 4. Feature selection with RandomForest

In [35]:
selectable_features = numerical_features.copy()
selectable_features.remove('Target')
for feature in feature_names_with_null:
    selectable_features.remove(feature)

X = df[selectable_features]
y = df.Target

In [37]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=112, test_size=0.2)

In [38]:
# from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
clf= RandomForestClassifier()
clf.fit(X_train, y_train)

sorted(zip(X.columns, clf.feature_importances_ * 100), key=lambda x: -x[1])

[('SQBedjefe', 3.1738779558617964),
 ('SQBescolari', 3.1080936779177093),
 ('SQBdependency', 3.0549420719404408),
 ('SQBovercrowding', 2.922785569188261),
 ('qmobilephone', 2.804497025812769),
 ('escolari', 2.641310138377618),
 ('SQBage', 2.6192385217816443),
 ('SQBhogar_nin', 2.5603483789128876),
 ('agesq', 2.5476068769762614),
 ('hogar_nin', 2.5289363570864096),
 ('overcrowding', 2.4631057182236247),
 ('age', 2.382853394978264),
 ('rooms', 2.3097185423369404),
 ('r4t2', 2.018727640018228),
 ('r4h2', 1.9090608573386556),
 ('r4m3', 1.8664462248387432),
 ('r4h3', 1.7717784310300164),
 ('cielorazo', 1.6814540234984985),
 ('bedrooms', 1.5963041304152152),
 ('hogar_adul', 1.520240712732043),
 ('r4m2', 1.3840545959798576),
 ('paredblolad', 1.3773482308953038),
 ('r4m1', 1.3634778502601774),
 ('r4t1', 1.3164900585489878),
 ('r4t3', 1.2180905602347234),
 ('v18q', 1.2177644424785852),
 ('energcocinar2', 1.2076817902622963),
 ('tamviv', 1.1821583827230668),
 ('tamhog', 1.1586422259271574),
 ('r4h1', 1.1379692502514385),
 ('hhsize', 1.1281284507908877),
 ('SQBhogar_total', 1.0853201378398531),
 ('hogar_total', 1.084178420773334),
 ('eviv3', 1.0832687139947355),
 ('television', 1.066904172887976),
 ('pisomoscer', 1.039619398983756),
 ('etecho3', 1.026034687494975),
 ('epared3', 0.9889561956178013),
 ('hogar_mayor', 0.9499901610037002),
 ('epared2', 0.9323283762013181),
 ('etecho2', 0.8888013710110455),
 ('lugar1', 0.8765870340029945),
 ('tipovivi1', 0.8692026812995092),
 ('area2', 0.8559445023087684),
 ('sanitario3', 0.7890917624039928),
 ('eviv2', 0.7843434427347646),
 ('energcocinar3', 0.7824563676437292),
 ('area1', 0.7677397577458007),
 ('tipovivi5', 0.7546854313018337),
 ('etecho1', 0.7434607114644366),
 ('epared1', 0.7330048432045484),
 ('lugar5', 0.6983284985270544),
 ('lugar3', 0.6930281011469713),
 ('paredpreb', 0.684016087541935),
 ('paredmad', 0.6601031789861301),
 ('elimbasu1', 0.6559471638150893),
 ('pisocemento', 0.6399500263367353),
 ('tipovivi3', 0.626492514378413),
 ('lugar4', 0.614181069479452),
 ('paredzocalo', 0.6107185189654544),
 ('sanitario2', 0.5910119185728162),
 ('lugar2', 0.5089040873154725),
 ('tipovivi2', 0.5031250473290176),
 ('estadocivil3', 0.4972577065509596),
 ('computer', 0.48334475437889507),
 ('refrig', 0.4763158347697945),
 ('pisomadera', 0.47357595527042295),
 ('coopele', 0.47353387767996646),
 ('energcocinar4', 0.4726230708381239),
 ('female', 0.4722193679886856),
 ('public', 0.47059988198717934),
 ('parentesco3', 0.45333524546249443),
 ('lugar6', 0.4406720829985192),
 ('elimbasu3', 0.4400967288105807),
 ('male', 0.4231522592049521),
 ('eviv1', 0.42183921369217964),
 ('instlevel2', 0.41718625624614136),
 ('parentesco1', 0.3959103896376226),
 ('estadocivil2', 0.3880097540972644),
 ('estadocivil7', 0.3835821751098442),
 ('dis', 0.33876121722825764),
 ('instlevel3', 0.33847142634432814),
 ('instlevel4', 0.32418644638858085),
 ('abastaguafuera', 0.3180235779894628),
 ('abastaguadentro', 0.2891204799390716),
 ('instlevel1', 0.27869071532355566),
 ('parentesco2', 0.26798786412635955),
 ('estadocivil5', 0.2657756873356001),
 ('elimbasu2', 0.24879983539915343),
 ('parentesco6', 0.24221740239342926),
 ('mobilephone', 0.206038835359153),
 ('estadocivil6', 0.17891747853421405),
 ('techozinc', 0.1702090616246549),
 ('hacdor', 0.16738387795973553),
 ('sanitario5', 0.14985359551518843),
 ('estadocivil4', 0.13897471934850864),
 ('instlevel5', 0.13374453643055792),
 ('estadocivil1', 0.12754259107157956),
 ('instlevel6', 0.12413328806371313),
 ('tipovivi4', 0.12208869163612575),
 ('techoentrepiso', 0.10993135237295457),
 ('pareddes', 0.09300539544095825),
 ('pisonotiene', 0.07963940784955083),
 ('parentesco9', 0.07796866967874867),
 ('hacapo', 0.07323294581220563),
 ('parentesco11', 0.0710310913905982),
 ('parentesco5', 0.07064294091451512),
 ('instlevel8', 0.06712410785521705),
 ('paredzinc', 0.061887504404066866),
 ('parentesco4', 0.060774536998613814),
 ('parentesco7', 0.05880544321668739),
 ('instlevel7', 0.05472632021909341),
 ('v14a', 0.04981902007344986),
 ('elimbasu4', 0.04172109518460815),
 ('sanitario1', 0.03863944239284834),
 ('energcocinar1', 0.03745670269692076),
 ('abastaguano', 0.03558452088318189),
 ('sanitario6', 0.033983637235611514),
 ('parentesco12', 0.028230192132644643),
 ('parentesco8', 0.01826774096656846),
 ('techocane', 0.016779567084767286),
 ('parentesco10', 0.012173988068049259),
 ('pisonatur', 0.01086365327013266),
 ('noelec', 0.00731587236315168),
 ('elimbasu6', 0.003731362530680634),
 ('paredfibras', 0.003668365229688296),
 ('techootro', 0.003235615036942271),
 ('planpri', 0.002350602962712888),
 ('paredother', 0.0018501986642820657),
 ('instlevel9', 0.0005263544037709504),
 ('pisoother', 0.0),
 ('elimbasu5', 0.0)]

# 5. First evaluation
How to resist?

In [39]:
selected_features = ['SQBedjefe', 'SQBdependency', 'overcrowding', 'qmobilephone', 'SQBage', 'rooms', 'SQBhogar_nin']

X_train_4predict = X_train[selected_features]
predictor = RandomForestClassifier()
predictor.fit(X_train_4predict, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [40]:
X_test_4predict = X_test[selected_features]
y_predict = predictor.predict(X_test_4predict)

In [42]:
from sklearn.metrics import precision_recall_fscore_support as score

precision, recall, fscore, support = score(y_test, y_predict)

print('precision: {}'.format(precision))
print('recall: {}'.format(recall))
print('fscore: {}'.format(fscore))
print('support: {}'.format(support))

precision: [0.62406015 0.71565495 0.60606061 0.85020243]
recall: [0.58041958 0.63456091 0.57613169 0.89514066]
fscore: [0.60144928 0.67267267 0.5907173  0.87209302]
support: [ 143  353  243 1173]

In [58]:
from sklearn.metrics import f1_score
f1_score(y_test, y_predict, average='macro')

0.6842330677172161

# 5. Predicting and sending

In [45]:
df_eval = pd.read_csv("data/test.csv")

In [51]:
X_eval = df_eval[selected_features]
df_eval['Target'] = predictor.predict(X_eval)

In [57]:
df_eval[['Id', 'Target']].to_csv("data/out.csv", index=False)

Kaggle gave me a result of 0.349  on this first try, which show a huge overfitt, which is also normal with a model like random forest.

I also ranked 82 / 106.