# Titanic Survivor - Data Analysis

In [3]:
import pandas as pd
import matplotlib as plt

In [4]:
data = pd.read_csv("./train.csv")

## Basic Analysis
### Data balance

In [5]:
survived_count = len(data[data.Survived == 1])
notsurvived_count =  len(data[data.Survived == 0])
print survived_count
print notsurvived_count

342
549

Kind of 1/3 vs 2/3, the data is not perfectly balanced but it's a good balance.

### Data completeness

In [6]:
missing_values = pd.DataFrame()
total = len(data)

for a in data.columns:
    missing_for_a = data[pd.isnull(data[a])]
    missing_values.loc[a, "Total"] = len(missing_for_a)

missing_values["Total (%)"] = (missing_values["Total"] * 100 / total).apply(int)

missing_values

             Total  Total (%)
PassengerId    0.0          0
Survived       0.0          0
Pclass         0.0          0
Name           0.0          0
Sex            0.0          0
Age          177.0         19
SibSp          0.0          0
Parch          0.0          0
Ticket         0.0          0
Fare           0.0          0
Cabin        687.0         77
Embarked       2.0          0

Cabin and Age miss a lot of values. It can be difficult to work with Cabin and Age.

Let's check if the missing values are equally balanced between survivors and nosurvivor (death).

In [7]:
incomplete_attributes = ["Age", "Cabin"]
for a in incomplete_attributes:
    missing_for_a = data[pd.isnull(data[a])]
    missing_for_a_survivor = missing_for_a[missing_for_a.Survived == 1]
    missing_for_a_notsurvivor = missing_for_a[missing_for_a.Survived == 0]

    missing_values.loc[a, "Survivor"] = len(missing_for_a_survivor)
    missing_values.loc[a, "Death"] = len(missing_for_a_notsurvivor)
    missing_values.loc[a, "Survivor (%)"] = int(missing_values.loc[a, "Survivor"] * 100 / len(missing_for_a))
    missing_values.loc[a, "Death (%)"] = int(missing_values.loc[a, "Death"] * 100 / len(missing_for_a))

missing_values.loc[incomplete_attributes]

       Total  Total (%)  Survivor  Death  Survivor (%)  Death (%)
Age    177.0         19      52.0  125.0          29.0       70.0
Cabin  687.0         77     206.0  481.0          29.0       70.0

When we have missing data, they miss in equal proportion than the size of groups "Survivor" and "Death". So it's not going possible to predict something out of the missing data. They will be problematic.

### Guessing information group out of the attributes
My first guess would be to group the information into 3 groups:

Group that modelize the information *Women & childern first* with attributes:
- **sex**
- **Age**: age, young, children, ... ?"
- Number of siblings (**SibSp**) & number of parents (**Parch**): with complicated relation like " children first, but with a women to care .... or if no women then a man " ?

Group that represent the **wealth** of the passenger:
- **ticketclass**
- **passenger_fare**

Group that represent the **place in the boat** of the passenger:
- Ticket number (**Ticket**)
- cabin number (**Cabin**)
- port of embarcation (**Embarked**)

Also to be noted: the ticket number has a number and sometimes more like letters. It seems that more information could be extracted from its. But I haven't found anything on internet.